/* src/main/webapp/css/cv.css */

.page-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li.work_experience {
    position: relative;
    padding-left: 1.2em; /* Отступ для точки */
    margin-bottom: 5px;
}

li.work_experience::before {
    content: " - ";
    position: absolute;
    left: 0;
    top: 0;
    color: black; /* Цвет точки */
}

h3::before {
    content: "•";
    color: #696969;
    display: inline-block;
    width: 1em;
    margin-left: -0em;
}
