.image-container {
    display: flex;
    overflow-x: auto; /* Горизонтальная прокрутка */
    overflow-y: hidden; /* Убираем вертикальную прокрутку */
    white-space: nowrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 200px;
    align-items: center;
}

.image-container img {
    width: auto; /* Ширина авто, чтобы не искажать */
    height: 100%; /* Занимаем всю высоту контейнера */
    object-fit: contain; /* Вписываем, а не обрезаем */
    margin-right: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Намекаем на кликабельность */
}