<div class="container page-container">
    <H1>Blog posts</H1>
    <section>
        <p class="subtitle">Total posts: {{v total_posts}}{{/v}}</p>
        <!--v list_content/-->

        <!--b empty_list_block-->
        <p>No posts yet.</p>
        <!--/b-->

        <!--b post_list_item-->
        <section>
            <h3><a href="{{v webapp:rootUrl/}}blog/post{{v post_slug/}}">{{v post_title/}}</a></h3>
            <p class="subtitle">published on: {{v post_publish_date/}}</p>
        </section>
        <!--/b-->
    </section>
    <section>
        <!--v prev_content--><!--/v-->
        <div class="highlight"><b><!--v current_page-->1<!--/v--></b></div>
        <!--v next_content--><!--/v-->

        <!--b prev_block-->
        <div>
            <a href="{{webapp:rootUrl/}}blog/page/{{v first_page_number/}}">first page</a>..
            <a href="{{webapp:rootUrl/}}blog/page/{{v prev_page_number/}}">{{v prev_page_number/}}</a>..
        </div>
        <!--/b-->
        <!--b next_block-->
        <div>
            ..<a href="{{webapp:rootUrl/}}blog/page/{{v next_page_number/}}">{{v next_page_number/}}</a>
            ..<a href="{{webapp:rootUrl/}}blog/page/{{v last_page_number/}}">last page</a>
        </div>
        <!--/b-->
    </section>
</div>