<div class="container page-container">
    <header>
        <h1>Georgii Shchennikov</h1>
        <p class="subtitle">Backend Java & Kotlin Software Engineer</p>
    </header>

    <section>
        <h2>Contact Information</h2>
        <ul>
            <!--v contact_info/--><!--b contact_info-->
            <li><strong>{{v property/}}:</strong> {{v value/}}</li>
            <!--/b-->
        </ul>
    </section>

    <section>
        <h2>Summary</h2>
        <p><!--v summary--> Backend Java & Kotlin Software Engineer with 6+ years of experience in designing,
            developing, robust banking applications.<!--/v--></p>
    </section>

    <section>
        <h2>Skills</h2>
        <ul>
            <!--v skills/--><!--b skills-->
            <li><strong>{{v category/}}:</strong> {{v list/}}</li>
            <!--/b-->
        </ul>
    </section>

    <section>
        <h2>Work Experience</h2>
        <!--v work_experience/--><!--b work_experience-->
        <h3>{{v position/}}, {{v company_name/}}, {{v location/}}</h3>
        <p><em>{{v dat/}} - {{v datto/}}</em></p>
        <p><strong>Technologies:</strong> {{v tech_list/}}</p>
        <ul>
            {{v description_list/}}{{b description_list}}
            <li class="work_experience">{{v description_line/}}</li>
            {{/b}}
        </ul>
        <!--/b-->
    </section>

    <section>
        <h2>Education</h2>
        <!--v education/--><!--b education-->
        <h3>{{v degree/}}</h3>
        <p><em>{{v name/}}, {{v year/}}</em>
            <br><em>{{v description/}}</em></p>
        <!--/b-->
    </section>
</div>