<div class="container mt-4">
    <h1 class="text-center mb-5">George's Projects</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <!--v projects/-->
        <!--b project-->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{v project_name/}}</h5>
                    <p class="card-text">{{v project_description/}}</p>
                    <p class="card-text"><small
                            class="text-muted"><strong>Technologies:</strong> {{v project_technologies/}}</small></p>
                </div>
                <div class="card-footer">
                    <a href="{{v project_url/}}" class="btn btn-primary btn-sm" target="_blank">Project URL</a>
                    <a href="{{v project_repo_url/}}" class="btn btn-secondary btn-sm" target="_blank">GitHub</a>
                </div>
                <div class="image-container p-3">
                    <!--v image_id_list/-->
                    <!--b image_id_list-->
                    <img src="{{v webapp:rootUrl/}}projects/image/{{v image_id/}}" class="img-fluid mb-2"
                         alt="{{v project_name/}} picture">
                    <!--/b-->
                </div>
            </div>
        </div>
        <!--/b-->
    </div>
</div>