<div class="container mt-4">
    <h1 class="text-center mb-5">George's Projects</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <!--v projects/-->
        <!--b project-->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{v project_name/}}</h5>
                    <p class="card-text">{{v project_description/}}</p>
                    <p class="card-text"><small
                            class="text-muted"><strong>Technologies:</strong> {{v project_technologies/}}</small></p>
                </div>
                <div class="card-footer">
                    <a href="{{v project_url/}}" class="btn btn-primary btn-sm" target="_blank">Project URL</a>
                    <a href="{{v project_repo_url/}}" class="btn btn-secondary btn-sm" target="_blank">GitHub</a>
                </div>
                <!-- Previews -->
                <div class="image-container p-3">
                    <!--v image_previews/-->
                    <!--b image_preview_item-->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#projectModal-{{v project_id/}}">
                        <img src="{{v webapp:rootUrl/}}projects/image/{{v image_id/}}" class="img-fluid mb-2"
                             alt="{{v project_name/}} picture">
                    </a>
                    <!--/b-->
                </div>
            </div>
        </div>

        <!-- Modal Gallery (generated for each project) -->
        <div class="modal fade" id="projectModal-{{v project_id/}}" tabindex="-1" aria-labelledby="projectModalLabel-{{v project_id/}}" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="projectModalLabel-{{v project_id/}}">{{v project_name/}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="carousel-{{v project_id/}}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!--v carousel_items/-->
                                <!--b carousel_item_active-->
                                <div class="carousel-item active">
                                    <img src="{{v webapp:rootUrl/}}projects/image/{{v image_id/}}" class="d-block w-100" alt="...">
                                </div>
                                <!--/b-->
                                <!--b carousel_item-->
                                <div class="carousel-item">
                                    <img src="{{v webapp:rootUrl/}}projects/image/{{v image_id/}}" class="d-block w-100" alt="...">
                                </div>
                                <!--/b-->
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{v project_id/}}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{v project_id/}}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/b-->
    </div>
</div>